.carousel, .carousel::before, .carousel::after {
    box-sizing: border-box;
}

.carousel {
    position: relative;
}

img {
    object-fit: contain;
    width: 75%;
    margin: 1vh;
    border-radius: 10px;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 0.2s opacity ease-in-out;
    transition-delay: 0.2s;
}

.slide[data-active] {
    opacity: 1;
    z-index: 2;
    transition-delay: 0;
}

.carousel-button {
    position: absolute;
    background: none;
    border: none;
    font-size: 4rem;
    top: 30vh;
    z-index: 3;
    transform: translateY(-50%);
    color: #ccdbdcff;
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 15%;
}

.carousel-button.next {
    right: 15%;
}