#footer {
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 50px 0;
    box-sizing: border-box;
    background: #02010A;
    position: absolute;
    bottom: 0;
}

.innerFooter {
    display: block;
    margin: 0 auto;
    width: 75%;
    height: 100%;
}

.innerFooter .logoContainer {
    width: 35%;
    float: left;
    height: 100%;
    display: block;
    color: white;
    font-size: 26px;
}