#footer {
    width: 100vw;
    display: flex;
    overflow: hidden;
    padding: 2% 0;
    box-sizing: border-box;
    background: #02010A;
    position: absolute;
    bottom: 0;
}

.innerFooter {
    margin: 0 auto;
    width: 75%;
    height: 100%;
}

.innerFooter .logoContainer {
    width: 35%;
    height: 100%;
    color: white;
    font-size: larger;
}